@use 'base/variables' as v;

.citas {
    list-style: none;
    padding: 0;
    li {
        padding: 1rem;
        border-top: 1px solid v.$blanco;
        p {
            color: v.$azul;
            font-weight: v.$bold;
        }

        span, 
        .servicio {
            font-weight: v.$regular;
            color: v.$blanco;
        }

        .boton {
            background-color: v.$rojo;

            &:hover {
                background-color: darken(v.$rojo, 15%);
            }
        }
    }
}