@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenedor-app {
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100vh;
    }

    .imagen {
        height: 20rem;
        background-image: url(../img/1.jpg); // La mandamos llamar desde la posición del app.scss
        background-size: cover; // Hace que cubra todo el espacio la imagen
        background-position: center center; // La coloca exactamente en el medio
        @include m.tablet {
            height: auto;
        }
    }

    .app {
        width: 95%;
        margin: 0 auto;
        padding: 3rem 0;
        @include m.tablet {
            overflow: auto;
        }
        /*Webkit(Chrome, Android browser, Safari, Edge...)*/
        &::-webkit-scrollbar { // Esto nos permite seleccionar la barra de scroll como parametro y al aplicarle un display none ya no se ve pero sigue funcionando
            display: none;
        }
        // &:hover::-webkit-scrollbar {
        //     display: initial;
        // }
        // &::-webkit-scrollbar-thumb {
        //     background-color: v.$negro;
        // }
    }
}

.barra {
    margin: v.$separacion 0;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    .boton {
        @include m.boton(v.$negro, v.$blanco);
        margin: 0;
    }
}

.barra-servicios {
    margin-bottom: v.$separacion;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }

    .boton {
        margin: 0 0 1rem 0;
    }

    .boton-crear {
        background-color: v.$verde;

        &:hover {
            background-color: darken( v.$verde, 10%);
        }
    }
}